@import url('https://fonts.googleapis.com/css?family=Abel');

.card {
  border: 2px solid #0170f3; /* Adicionando uma borda azul */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 200px; /* Definindo largura do card */
  height: 300px; /* Definindo altura maior que a largura */
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
  text-align: center; /* Centralizando conteúdo */
  display: inline-block; /* Permitindo que os cards sejam exibidos na mesma linha */
  vertical-align: top; /* Alinhando os cards no topo */
}

.card-header {
  margin-bottom: 10px;
}

.card-header h2 {
  margin: 0;
  color: #0170f3; /* Cor azul para o título */
}

.card-header button {
  background-color: #0170f3; /* Cor de fundo azul para o botão */
  color: #fff; /* Cor do texto branca */
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.card-header button:hover {
  background-color: #01549b; /* Mudança de cor ao passar o mouse */
}

.button-container button {
  background-color: #0170f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0150a3;
}
.card-content button {
  background-color: #0170f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 30px;
}

.card-content button:hover {
  background-color: #0150a3;
}


/* .card {
  border: 2px solid #0170f3; 
  border-radius: 10px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 50px;
  width: 15%;  
  height: 150px; 
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  display: inline-block; 
  vertical-align: top; 

}
.container-card{
  padding-top: 6%;
  padding-left: 5%;
  width: 80%;
  margin: auto;
}
.card-header {
  margin-bottom: 10px;
}

.card-header h2 {
  margin: 0;
  color: #0170f3; 
}

.card-header button {
  background-color: #0170f3; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 20px;
}

.card-header button:hover {
  background-color: #01549b; 
}

.button-container button {
  background-color: #0170f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;

}

.button-container button:hover {
  background-color: #0150a3;
}
.card-content button {
  background-color: #0170f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 30px;
}

.card-content button:hover {
  background-color: #0150a3;
} */



/*#wrapper {
  width: 100%;
    
  @media screen and (min-width: 1024px) {
    width: 1100px;
    margin: 0 auto;
  }
}

  #pricing-tables {
    margin-top: 10rem;
    font-family: "Abel", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000;

    
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
    
    .pricing-table {
      max-width: 300px;
      width: 100%;
      margin: 15px 0;
      
      @media screen and (min-width: 1024px) {
        margin: 0;
      }
    }
      .header 
        
        .title {
          text-align: center;
          text-transform: uppercase;
          padding: 15px 0;
          background: #e4e4e4;
          color: #000;
          font-size: 16x;
        }
        
        .price {
          text-align: center;
          text-transform: uppercase;
          padding: 15px 0;
          background: #fff;
          color: #000;
          font-size: 28px;
          font-weight: 300;
        }
            
            span {
              font-size: 14px;
              vertical-align: super;
            }
        
      
    
      .features {
        background: #fff;
        margin-bottom: -10px;
      }
        ul {
          list-style: none;
          margin: 0;
          padding: 15px 0;
        }
          li {
            padding: 8px 5px;
            text-align: center;
          }
            span {
              color: #999;
            }

      /* .link {
        background: #fff;
        padding: 2px 0 25px 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
        .link a {
          width: auto;
          margin: 0 auto;
          padding: 8px 10px;
          text-align: center;
          text-decoration: none;
          color: #FC4445;
          border: 1px solid #FC4445;
          transition: all .2s ease;
          
        }
        .link a:hover {
            color: #fff;
            background: #FC4445;
          }
         
       
       .link{
        display: block;
        width: 300px;
        height: 40px;
         line-height: 40px; 
        font-size: 18px;
        font-family: sans-serif; 
        text-decoration: none;
        color: #000;
        /* border: 2px solid #333; 
        text-align: center;
        position: relative;
        transition: all .35s;
        justify-content: center;
        background-color: #fff;
        text-transform: uppercase;
      }
      
      .link span{
        position: relative;
        z-index: 2;
        top:10px;
        color: black;
      }
      
      .link:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #0170f3;
        transition: all .35s;
      }
      
      .link:hover{
        color: #000;
      }
      
      .link:hover:after{
        width: 100%;
      }
/* aaaaaaaaaaaaaaaa 

       button{
        display: block;
        width: 300px;
        height: 40px;
        /* line-height: 40px; 
        font-size: 18px;
        /* font-family: sans-serif; 
        text-decoration: none;
        color: #000;
        /* border: 2px solid #333; 
        text-align: center;
        position: relative;
        transition: all .35s;
        justify-content: center;
        background-color: #fff;
        text-transform: uppercase;
      }
      
      button span{
        position: relative;
        z-index: 2;
        top:10px;
        color: black;
      }
      
      button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #0170f3;
        transition: all .35s;
      }
      
      button:hover{
        color: #000;
      }
      
      button:hover:after{
        width: 100%;
      }
       
/*         
          .title {
            background: #FC4445;
            color: #fff;
          }
        
      
        .signup a {
            background: #FC4445;
            color: #fff;
          }
            a:hover {
              color: #FC4445;
              background: #fff;
            }
          
         */