:root{
    /* --bg-color: #9e9ea3; */
    --bg-color: #1f1f21;
    --text-color: #FFF;
    --text-contraste: #FFF;
    --main-color: #0170f3;
    --color-contraste: #141414;

    --big-font: 7rem;
    --p-font:1.1rem;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1f1f21;
    display: block;
}
header{
    background-color: transparent;
    border: var(--main-color) 1px solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: sticky;
    left: 100px;
    top: 60px;
    margin-left:50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.voltar img{
    margin-top: 16px;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -4rem;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;
}

.card-header {
    /* padding-bottom: 50px;
    opacity: 0.8; */
    color: var(--main-color);
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.4rem;
    padding-bottom: 2rem;
}

.card-header::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #fff;;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    /* color: #ffae00;;
    font-size: 12px;
    opacity: 0.8; */
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--main-color);
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #fff;;
    outline: none;
    color: #fff;
    font-size: 20px;
}

.card-footer {
    display: flex;
    flex-direction: column;
}
button{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    cursor: pointer;
}


.card-footer a {
    text-align: center;
    font-size: 12px;

    color: var(--main-color);
    text-decoration: none;
}

.clear{
    background: transparent;
    height: 40px;
    border: none;
    color: #fff;
    /* background-color: var(--main-color); */
}
button[disabled]{
opacity: 0.5;
cursor: not-allowed;
}
button:active{
    opacity: 0.8;
}

.error{
    color: white;
    background-color: red;
    display: none;
}

.registrar{
    border: 1px solid var(--main-color);
    width: 100%;
    height: 40px;
    background-color:transparent;
    color: #fff;
    margin: 5px 0;
    cursor: pointer;
}

.login{
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    border:none;
    color: #fff;
    margin: 5px 0;
    cursor: pointer;
}