@import url('https://fonts.googleapis.com/css?family=Abel');

:root{
  /* --bg-color: #9e9ea3; */
  --bg-color: #1f1f21;
  --text-color: #FFF;
  --text-contraste: #FFF;
  --main-color: #0170f3;
  --color-contraste: #141414;

  --big-font: 7rem;
  --p-font:1.1rem;
}



h1{
  text-align: center;
  margin-bottom: 1rem;
}
#nome{
  margin-bottom: 2rem;
}

.centro-div input {
  margin-top: 10px;
  padding:0 5px;
  margin-bottom: 5px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid var(--main-color);
  outline: none;
  color: #fff;
  font-size: 20px;
}

.centro-div button {
  background-color: var(--main-color); /* Cor de fundo azul para o botão */
  color: #fff; /* Cor do texto branca */
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.centro-div button:hover {
  background-color: #01549b; /* Mudança de cor ao passar o mouse */
}

.card {
  border: 2px solid var(--main-color); /* Adicionando uma borda azul */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 200px; /* Definindo largura do card */
  height: 360px; /* Definindo altura maior que a largura */
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
  text-align: center; /* Centralizando conteúdo */
  display: inline-block; /* Permitindo que os cards sejam exibidos na mesma linha */
  vertical-align: top; /* Alinhando os cards no topo */
  margin-top: 5rem;
}

.card-header {
  margin-bottom: 10px;
}

.card-header h2 {
  margin: 0;
  color: var(--main-color); /* Cor azul para o título */
}

.card-header button {
  background-color: var(--main-color); /* Cor de fundo azul para o botão */
  color: #fff; /* Cor do texto branca */
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito de transição */
  margin-top: 15%;
}

.card-header button:hover {
  background-color: #01549b; /* Mudança de cor ao passar o mouse */
}

.button-container button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0150a3;
}
.card-content button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 30px;
}

.card-content button:hover {
  background-color: #0150a3;
}
.card p{
  color: var(--main-color);
  margin-top: 0.5rem;
}
.centro{
  margin: 10rem auto;
  text-align: center;
}
.centro-div{
  margin: 0 5rem;
}

.clear{
  cursor: pointer;
}
